---
import { Forum } from '../components/forum/Forum'
import BaseLayout from '@/layouts/BaseLayout.astro'
---
<BaseLayout>
  <h1 class="text-xl font-medium mt-10">Delta10 - Feedbacktool (Demo)</h1>
  <p>Welkom, dit is een demo voor de nieuwe feedbacktool van Delta10. <br/>
  Kijk vooral even rond, maak een account en plaats (test)feedback en reacties onder de verschillende feedback/suggesties. <br/><br/>

    Wanneer je alles gezien hebt zouden wij het waarderen als je een mailtje kan sturen naar marly@delta10.nl met daarin jouw ervaring en eventuele feedback op wat je gezien hebt.<br/>
    Alvast bedankt!
  </p>
  <Forum client:only="react"/>
</BaseLayout>
